{% extends 'base.html' %}

{% block extra_css %}<link rel="stylesheet" href="{{ url_for('index.static', filename='css/index.css') }}">{% endblock %}

{% block title %}Log Book{% endblock %}

{% block content %}
  <div class="container">
    <h1>Flask Web</h1>
    <img src="{{ url_for('index.static', filename='img/spiral.gif') }}" alt="">
    <p>Welcome! Please sign our log book</p>
    <form method="POST" action="{{ url_for('index.index') }}">
      {{ form.hidden_tag() }}
      {{ form.first(size=20) }}
      {{ form.last(size=20) }}
      <input type="submit" value="Sign">
    </form>
  </div>
{% endblock %}